.icon:before, .icon-after:after{
  font-family: icons, sans-serif;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@each $icon in $icons {

  $id      : nth($icon, 1);
  $content : nth($icon, 2);

  .icon-after--#{$id}:after,
  .icon--#{$id}:before{ content: $content }
}


//include icon
@mixin icon($name:false, $position:'before', $extend:true) {

  @if($extend){
    @if($position == 'before'){
      @extend .icon;
    }
    @else{
      @extend .icon-after;
    }
  }

  @if($position == 'before'){
    @extend .icon--#{$name};
  }
  @else{
    @extend .icon-after--#{$name};
  }
}