$screen-mobile        : 767px !default;
$screen-mobile-small  : 320px !default;
$screen-tablet        : 1024px !default;
$screen-13inch-height : 750px !default;
$screen-13inch-width  : 1280px !default;
$screen-wide-width    : 1680px !default;


$media-desktop          : "screen and (min-width: "+($screen-tablet + 1px)+")";

$media-wide             : "screen and (min-width: "+$screen-wide-width+")";

$media-13inch           : "screen and (max-width: "+$screen-13inch-width+"),(max-height: "+$screen-13inch-height+")";
$media-13inch-only      : "screen and (min-width: "+($screen-tablet + 1px)+") and (max-width: "+$screen-13inch-width+"),(max-height: "+$screen-13inch-height+")";

$media-tablet-desktop   : "screen and (min-width: "+($screen-mobile + 1px)+")";

$media-tablet           : "screen and (max-width: "+$screen-tablet+")";
$media-tablet-portrait  : "screen and (max-width: "+($screen-tablet - 1px)+")";
$media-tablet-landscape : "screen and (min-width: "+($screen-mobile + 1px)+") and (max-width: "+$screen-tablet+") and (orientation: landscape)";
$media-tablet-only      : "screen and (min-width: "+($screen-mobile + 1px)+") and (max-width: "+$screen-tablet+")";

$media-not-mobile       : "screen and (min-width: "+($screen-mobile + 1px)+")";
$media-mobile           : "screen and (max-width: "+$screen-mobile+")";
$media-mobile-small     : "screen and (max-width: "+$screen-mobile-small+")";
$media-mobile-portrait  : "screen and (max-width: "+$screen-mobile+") and (orientation: portrait)";
$media-mobile-landscape : "screen and (max-width: "+$screen-mobile+") and (orientation: landscape)";

$media-retina           : "(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi)";

$media-queries          : ( desktop: $media-desktop, wide: $media-wide, 13inch: $media-13inch, tablet: $media-tablet, tablet-portrait: $media-tablet-portrait, mobile: $media-mobile);


// Dummy queries for mqpaker

@media #{$media-not-mobile} {       html{ display: block } }
@media #{$media-desktop} {          html{ display: block } }
@media #{$media-wide}   {           html{ display: block } }
@media #{$media-13inch} {           html{ display: block } }
@media #{$media-13inch-only} {      html{ display: block } }
@media #{$media-tablet-desktop} {   html{ display: block } }
@media #{$media-tablet-only} {      html{ display: block } }
@media #{$media-tablet} {           html{ display: block } }
@media #{$media-tablet-landscape} { html{ display: block } }
@media #{$media-tablet-portrait} {  html{ display: block } }
@media #{$media-mobile} {           html{ display: block } }
@media #{$media-mobile-landscape} { html{ display: block } }
@media #{$media-mobile-portrait} {  html{ display: block } }

@media #{$media-retina} {           html{ display: block } }
