//custom scrollbar colors
@mixin scrollbar($size, $primary, $secondary: lighten($primary, 25%), $radius-thumb: 0, $radius-track: 0) {
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: $radius-thumb;
  }

  &::-webkit-scrollbar-track {
    background: $secondary;
    border-radius: $radius-track;
  }
}

//custom placeholder style
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin borders($size:1px, $color:false){
  position: relative;
  &:after { left: 0; top:0; border-top: $size solid; border-left: $size solid }
  &:before { right: 0; bottom:0; border-bottom: $size solid; border-right: $size solid }
  &:after, &:before {
    content: ''; position: absolute; width: 100%; height: 100%;
    display: block; z-index: 0; box-sizing: border-box;
    @if( $color ){
      border-color: $color;
    }
  }
}