// Path
$public-path  : '../'!default;

$misc-path    :  $public-path+'media/misc/' !default;
$pages-path   :  $public-path+'media/page/' !default;
$blocks-path  :  $public-path+'media/block/' !default;
$tmp-path     :  $public-path+'media/tmp/' !default;
$icons-path   :  $public-path+'media/icon/' !default;
$fonts-path   :  $public-path+'font/' !default;

@function page-url($path){
  @return url( $pages-path + $path )
}

@function block-url($path){
  @return url( $blocks-path + $path )
}

@function media-url($path){
  @return url( $public-path + 'media/' + $path )
}

@function font-url($path){
  @return url( $fonts-path + $path )
}

@function tmp-url($path){
  @return url( $tmp-path + $path )
}

@function icon-url($path){
  @return url( $icons-path + $path )
}

@function misc-url($path){
  @return url( $misc-path + $path )
}
