// Path
$public-path  : '../'!default;

$misc-path   :  $public-path+'media/misc/' !default;
$page-path   :  $public-path+'media/page/' !default;
$block-path  :  $public-path+'media/block/' !default;
$tmp-path    :  $public-path+'media/tmp/' !default;
$icon-path   :  $public-path+'media/icon/' !default;
$vendor-path :  $public-path+'media/vendor/' !default;
$font-path   :  $public-path+'font/' !default;

@function page-url($path){
  @return url( $page-path + $path )
}

@function block-url($path){
  @return url( $block-path + $path )
}

@function media-url($path){
  @return url( $public-path + 'media/' + $path )
}

@function font-url($path){
  @return url( $font-path + $path )
}

@function tmp-url($path){
  @return url( $tmp-path + $path )
}

@function icon-url($path){
  @return url( $icon-path + $path )
}

@function misc-url($path){
  @return url( $misc-path + $path )
}

@function vendor-url($path){
  @return url( $vendor-path + $path )
}
