// Clearfix
@mixin clearfix() {
  &:after{
    content: '\0020'; display: block; overflow: hidden;
    visibility: hidden; width: 0; height: 0; clear: both;
  }
}

._clearfix, .clearfix {
  @include clearfix()
}

// Text
@mixin text($type) {
  @extend .txt, .txt--#{$type};
}