.icon--before:before, .icon--after:after{
  @extend ._font-icons!optional;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//include icon
@mixin icon($name:false, $position:'before') {

  @if( $position == 'after'){

    @extend .icon--after, .icon--#{$name};
  }
  @else{

    @extend .icon--before, .icon--#{$name};
  }
}


@each $icon in $icons {

  $id      : nth($icon, 1);
  $content : nth($icon, 2);

  .icon--after.icon--#{$id}:after,
  .icon--before.icon--#{$id}:before{ content: $content }
}