// Path
$pages-path   :  $public-path+'medias/pages/';
$blocks-path  :  $public-path+'medias/blocks/';
$tmp-path     :  $public-path+'medias/tmp/';
$icons-path   :  $public-path+'medias/icons/';
$fonts-path   :  $public-path+'fonts/';

@function pages-url($path){
  @return url( $pages-path + $path )
}

@function blocks-url($path){
  @return url( $blocks-path + $path )
}

@function medias-url($path){
  @return url( $public-path + 'medias/' + $path )
}

@function fonts-url($path){
  @return url( $fonts-path + $path )
}

@function tmp-url($path){
  @return url( $fonts-path + $path )
}

@function icons-url($path){
  @return url( $icons-path + $path )
}