@mixin lib-fit{

  .ui-fit{

    overflow: hidden; position: relative;

    .mod--object-fit &__object{
      width: 100%; height: 100%; overflow: hidden;
      &--cover{ object-fit: cover }
      &--contain{ object-fit: contain }
    }

    .mod--no-object-fit &{
      &__object{
        position: relative; visibility: hidden;
      }
    }
  }
}


@if( index($libraries, 'fit') ){
  @include lib-fit;
}