@mixin lib-sizer{

  .ui-sizer{
    width: 100%; height: auto; display: block;
    background-size: cover; background-position: center; background-repeat: no-repeat;
    &+.ui-fit__object{ position: overlay() }
  }
}


@if( index($libraries, 'sizer') ){
  @include lib-sizer;
}