// Vertical Align
vcenter{ visibility: hidden }

.valign {
  display: table; height: 100%; margin: auto; width: 100%;
  &__middle, &__bottom , &__top {
    display: table-cell; height: 100%; width: 100%;
  }
  &__middle { vertical-align: middle }
  &__bottom { vertical-align: bottom }
  &__top{ vertical-align: top }
}