//v1.0
$animation-duration     : 1s !default;
$animation-offset       : 50% !default;
$animation-offset-rem   : 6rem !default;
$animation-delay        : $animation-duration/10 !default;
$animation-delay-values : 35 !default;

@mixin lib-animation{

  @each $name, $properties in $animations{
    [data-animation="#{$name}"]{
      animation: $name $animation-duration $ease-out-cubic both;
      will-change: unquote($properties);
    }
  }

  @for $i from 0 through $animation-delay-values{
    [data-delay="#{$i}"]{ animation-delay: $animation-delay*$i }
  }

  @each $name, $easing in $easings{
    [data-easing="#{$name}"]{ animation-timing-function: $easing }
  }
}


@if( index($libraries, 'animation') ){
  @include lib-animation;
}
