$grid-default-space : 0 !default;

$grid-margin : 0 $grid-default-space !default;
$grid-col-padding : 0 $grid-default-space !default;
$grid-row-margin : $grid-default-space*2 !default;

@mixin lib-grid{

  .grid{
    display: block; @include clearfix();
    @if variable-exists(grid-padding) { padding: $grid-padding; }
    @if variable-exists(grid-margin) { margin: $grid-margin; }
    &--flex{
      .g-row{ @extend .g-row--flex }
    }
  }

  .g-row{
    @include clearfix(); display: block; position: relative;
    @if variable-exists(grid-row-padding) { padding: $grid-row-padding; }
    @if variable-exists(grid-row-margin) { & + .g-row { margin-top: $grid-row-margin; } }
    &--top{ align-items: flex-start }
    &--center{ align-items: center }
    &--bottom{ align-items: flex-end }
    &--flex{
      display: flex; flex: 0 1 auto; flex-direction: row; flex-wrap: wrap;
      .g-col{
        flex-grow: 1; flex-basis: 0; float: none;
        @for $j from 1 through 8{
          @for $i from 2 through 8{
            @if $j < $i{
              &--#{$j}_#{$i}{ flex-basis: ((100%*$j)/$i) }
            }
          }
        }
      }
    }
  }

  .g-col{
    float: left; width: 100%; border-collapse: collapse; display: block; position: relative;
    @media #{$media-mobile} { max-width: none }
    @if variable-exists(grid-col-padding) { padding: $grid-col-padding; }
    @for $j from 1 through 10{
      @for $i from 2 through 10{
        @if $j < $i{
          &--#{$j}_#{$i}{ max-width: ((100%*$j)/$i) }
          &---#{$j}_#{$i}{ margin-left: ((100%*$j)/$i) }
        }
      }
    }
  }
}


// @mixin grid($col-padding:false, $row-margin:false, $row-padding:false, $margin:false){

//   @if ($margin ) { margin: $margin; }

//   .g-row{
//     @if ($row-padding) { padding: $row-padding; }
//     @if ($row-margin) { & + .g-row { margin: $row-margin } }
//   }

//   .g-col{
//     @if ($col-padding) {
//       padding: $col-padding;
//     }
//   }
// }


@mixin break-grid(){
  max-width: none; float: none
}


@if( index($libraries, 'grid') ){
  @include lib-grid;
}
