@mixin lib-sizer{

  [data-sizer="1/2"]{ @include aspect-ratio(1/2) }
  [data-sizer="3/2"]{ @include aspect-ratio(3/2) }
  [data-sizer="1/3"]{ @include aspect-ratio(1/3) }
  [data-sizer="2/3"]{ @include aspect-ratio(2/3) }
  [data-sizer="4/3"]{ @include aspect-ratio(4/3) }
  [data-sizer="3/4"]{ @include aspect-ratio(3/4) }
  [data-sizer="16/9"]{ @include aspect-ratio(16/9) }
  [data-sizer="16/10"]{ @include aspect-ratio(16/10) }
  [data-sizer="1/1"]{ @include aspect-ratio(1) }

  img.has-sizer{ background-size: cover; background-position: center }
}

@mixin aspect-ratio($ratio) {
  position: relative;
  &:before {
    display: block; content: ""; width: 100%; padding-top: (1/$ratio) * 100%;
  }
}

@mixin remaining-aspect-ratio($ratio, $remain) {
  position: relative;
  &:before {
    display: block; content: ""; width: 100%;
    padding-top: ((((1/$ratio))*(1-$remain))/$remain) * 100%;
  }
}

@mixin remove-aspect-ratio() {
  &:before { display: none }
}

@if( index($libraries, 'sizer') ){
  @include lib-sizer;
}
