//v2
@mixin lib-sliders{

  .ux-slider{
    height: 100%; position: relative;

    &__slides {
      height: 100%; position: relative;
      &[data-animation="stack"]{ overflow: visible }
    }


    &__slide {
      height: 100%; position: absolute;
      left: 0; top: 0; width: 100%;
      z-index: 1; display: none;
      animation-duration: $ux-slider-speed;
      animation-fill-mode: both;
      animation-timing-function: $ease-in-out-cubic;
      will-change: opacity, transform;

      .ux-slider--animating &--previous{ display: block }

      &--current{ display: block; z-index: 2 }
    }

    &__preload {
      position: absolute; user-select: none;
      top: 0; left: 0; opacity: 0.01; z-index: -1;
      img{ width: 1px; height: 1px; float: left }
    }

    &__scroller{
      width: 100%; overflow: hidden;
      position: relative; height: 100%;
      z-index: 1;
    }

    &__pagination  a {
      display: inline-block;
      cursor: pointer; user-select: none;
    }

    &__arrows {
      user-select: none; z-index: 4;
    }

    &__arrow {
      cursor: pointer; position: absolute;
      display: inline-block;
      z-index: 5; top: 50%;

      &--left{ left: 0 }
      &--right{ right: 0 }
    }


    &__slide{

      &__item{
        animation-fill-mode: both;
        animation-duration: $ux-slider-speed;
        animation-timing-function: $ease-in-out-cubic;
        will-change: opacity, transform;
      }

      //horizontal
      $horizontal : '[data-transition="horizontal"]';
      &--current{
        #{$horizontal}[data-direction="forward"] > &{
          animation-name: slide-from-right;
          .ux-slider__slide__item{ animation-name: slide-from-right-only }
        }
        #{$horizontal}[data-direction="backward"] > &{
          animation-name: slide-from-left;
          .ux-slider__slide__item{ animation-name: slide-from-left-only }
        }
      }
      &--previous{
        #{$horizontal}[data-direction="forward"] > &{
          animation-name: slide-to-left;
          .ux-slider__slide__item{ animation-name: slide-to-left-only }
        }
        #{$horizontal}[data-direction="backward"] > &{
          animation-name: slide-to-right;
          .ux-slider__slide__item{ animation-name: slide-to-right-only }
        }
      }


      //zoom
      $zoom : '[data-transition="zoom"]';
      &--current{
        #{$zoom}[data-direction="forward"] > &{ animation-name: zoom-in }
        #{$zoom}[data-direction="backward"] > &{ animation-name: unzoom-in }
      }
      &--previous{
        #{$zoom}[data-direction="forward"] > & { animation-name: unzoom-out }
        #{$zoom}[data-direction="backward"] > & { animation-name: zoom-out }
      }


      //vertical
      $vertical : '[data-transition="vertical"]';
      &--current{
        #{$vertical}[data-direction="forward"] > & { animation-name: slide-from-bottom }
        #{$vertical}[data-direction="backward"] > & { animation-name: slide-from-top }
      }
      &--previous{
        #{$vertical}[data-direction="forward"] > & { animation-name: slide-to-bottom }
        #{$vertical}[data-direction="backward"] > & { animation-name: slide-to-top }
      }


      //stack
      $stack : '[data-transition="stack"]';
      &--current{
        #{$stack}[data-direction="forward"] > & { animation-name: offset-by-0 }
      }
      &--previous{
        #{$stack}[data-direction="forward"] > & { animation-name: offset-by--4; z-index: 3 }
      }
      &--next{
        #{$stack}[data-direction="forward"] > & { animation-name: offset-by-4 }
        .ux-slider--animation-stack > * { transform: translate3d(4rem, 4rem, 0); opacity: 0.5; display: block }
      }

      @keyframes offset-by-4 {
        0%{ transform: translate3d(8rem, 8rem, 0); opacity: 0 }
        100%{ transform: translate3d(4rem, 4rem, 0); opacity: 0.5 }
      }

      @keyframes offset-by--4 {
        0%{ transform: none; opacity: 1 }
        100%{ transform: translate3d(-4rem, -4rem, 0); opacity: 0 }
      }

      @keyframes offset-by-0 {
        0%{ transform: translate3d(4rem, 4rem, 0); opacity: 0.5 }
        100%{ transform: none; opacity: 1 }
      }

      //none
      &--previous{
        [data-transition="none"] > & { display: block }
      }


      //crossfade
      &--current{
        [data-transition="crossfade"] > & { animation-name: fade-in; animation-duration: $ux-slider-speed*2 }
      }
    }
  }
}


@if( index($libraries, 'sliders') ){
  @include lib-sliders;
}
