//v2
@mixin lib-sliders{

  .ux-slider{
    height: 100%;
    position: relative;

    &__slides {
      width: 100%;
      position: relative; height: 100%;
      backface-visibility: hidden;
    }

    &__slide {
      height: 100%; position: absolute;
      left: 0; top: 0; width: 100%;
      z-index: 1; display: none;
      animation-duration: $ux-slider-speed;
      animation-fill-mode: both;
      animation-timing-function: $ease-in-out-cubic;
      will-change: opacity, transform;

      .ux-slider--animating &--previous{ display: block }
      &--current{ display: block; z-index: 2 }
    }

    &__preload {
      position: absolute; user-select: none;
      top: 0; left: 0; opacity: 0.01; z-index: -1;
      img{ width: 1px; height: 1px; float: left }
    }

    &__scroller{
      width: 100%; overflow: hidden;
      position: relative; height: 100%;
      z-index: 1;
    }

    &__pagination  a {
      display: inline-block;
      cursor: pointer; user-select: none;
      transition: background $ease-in-out-cubic $speed-fast;
    }

    &__arrows {
      user-select: none; z-index: 4;
    }

    &__arrow {
      cursor: pointer; position: absolute;
      display: inline-block;
      z-index: 5; top: 50%;

      &--left{ left: 0 }
      &--right{ right: 0 }
    }


    &__slide{

      &__item{
        animation-fill-mode: both;
        animation-duration: $ux-slider-speed;
        animation-timing-function: $ease-in-out-cubic;
        will-change: opacity, transform;
        backface-visibility: hidden;
      }

      //horizontal
      $horizontal : '.ux-slider--animation-horizontal.ux-slider--animating.ux-slider--direction';
      &--current{
        #{$horizontal}-forward &{
          animation-name: slide-from-right;
          .ux-slider__slide__item{ animation-name: slide-from-right-only }
        }
        #{$horizontal}-backward &{
          animation-name: slide-from-left;
          .ux-slider__slide__item{ animation-name: slide-from-left-only }
        }
      }
      &--previous{
        #{$horizontal}-forward &{
          animation-name: slide-to-left;
          .ux-slider__slide__item{ animation-name: slide-to-left-only }
        }
        #{$horizontal}-backward &{
          animation-name: slide-to-right;
          .ux-slider__slide__item{ animation-name: slide-to-right-only }
        }
      }


      //zoom
      $zoom : '.ux-slider--animation-zoom.ux-slider--animating.ux-slider--direction';
      &--current{
        #{$zoom}-forward &{ animation-name: zoom-in }
        #{$zoom}-backward &{ animation-name: unzoom-in }
      }
      &--previous{
        #{$zoom}-forward &{ animation-name: unzoom-out }
        #{$zoom}-backward &{ animation-name: zoom-out }
      }


      //vertical
      $vertical : '.ux-slider--animation-vertical.ux-slider--animating.ux-slider--direction';
      &--current{
        #{$vertical}-forward &{ animation-name: slide-from-bottom }
        #{$vertical}-backward &{ animation-name: slide-from-top }
      }
      &--previous{
        #{$vertical}-forward &{ animation-name: slide-to-bottom }
        #{$vertical}-backward &{ animation-name: slide-to-top }
      }


      //none
      &--previous{
        .ux-slider--animation-none &{ display: block }
      }


      //crossfade
      &--current{
        .ux-slider--animation-crossfade.ux-slider--animating &{ animation-name: fade-in; animation-duration: $ux-slider-speed*4 }
      }
    }
  }
}


@if( index($libraries, 'sliders') ){
  @include lib-sliders;
}
