@mixin lib-router{

  [data-page]{
    display: none;
    will-change: transform, opacity; animation-duration: $animation-duration; animation-timing-function: $ease-in-out-cubic;
    &[data-current]{ display: block }
  }
  .router{
    &--enter{ position: absolute; top: 0; left: 0; width: 100% }
    &--fade-in{ animation-name: fade-in }
    &--fade-out{ animation-name: fade-out }
    &--slide-in{ animation-name: slide-from-left }
    &--slide-out{ animation-name: slide-to-right }
  }
}

@if (variable-exists(libraries) and index($libraries, 'router')) {
  @include lib-router;
}
