//require activation.js/animations.scss

@mixin lib-activation {

  [data-activation] {
    &, [data-animation]{ animation-play-state: paused!important }
  }

  [data-activation="play"], [data-activation="played"], [data-activation="rewind"] {
    &, [data-animation] {
      animation-play-state: running !important
    }
  }

  [data-animation="reveal"]{
    &[data-activation], [data-activation] & {
      > *, &:before {
        animation-play-state: paused !important
      }
    }
    &[data-activation="play"], [data-activation="play"] &,
    &[data-activation="rewind"], [data-activation="rewind"] &,
    &[data-activation="played"], [data-activation="played"] & {
      > *, &:before {
        animation-play-state: running !important
      }
    }
    &[data-activation="rewind"], [data-activation="rewind"] & {
      > *{ animation-name: fade-out-half }
      &:before {
        animation-name: disappear
      }
    }
  }

  @each $name, $properties in $animations{

    [data-animation="#{$name}"][data-activation="rewind"],
    [data-activation="rewind"] [data-animation="#{$name}"]{ animation-name: un-#{$name} }
  }
}

@if (variable-exists(libraries) and index($libraries, 'activation')) {
  @include lib-activation;
}
